/* css styles */
/* css styles */

.navbar-title {
    /* font-size: 1.35rem; */
  }

  .navbar-nav .nav-link, .navbar-nav .nav-link.active {
    color: #FF5722;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}


.nav-link:hover, .nav-link.active:hover, 
a.nav-link:focus {
    background-size: 100% 2px;
}


nav .nav-item:not(.compact) {
    padding-top: 5px;
  }

  body {
    font-family: 'Fira Mono',monospace;
  }


  /* a::after {
    right: 50%;
  }
  a::after, a::before {
    position: absolute;
    bottom: -2px;
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background: #2AF300;
    transition: .5s;
  }
  a::before {
    left: 50%;
  } */

  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    background-size: 100% 2px;
    color: red;
  }

  div.quarto-about-jolla {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    /* margin-top: 77.6px; */
    margin-top: 25px;
    padding-bottom: 1em;
  }


/* About */

.quarto-about-jolla  h1.title {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.quarto-about-jolla #title-block-header .description {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
}

div.quarto-about-jolla .about-image {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
  }

  div.quarto-about-jolla .about-links {
    flex-direction: row;
    column-gap: 0px;
    font-size: 1.7rem;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-top: -50px;
    margin-left: 20px;
    justify-content: center;
  }

  div.quarto-about-jolla .about-sep {
    width: 60%;
    display: none;
  }

  div.quarto-about-jolla .about-link {
    /* font-size: 1.5em; */
    padding: .25em .5em;
    border-radius: 4px;
  }
  div.quarto-about-jolla .about-link {
    color: #0000EE;
    color: black;
    text-decoration: none;
    border:none;
  }

  footer {
    z-index: 1;
  }
  .nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;

  }

  .nav-footer .nav-footer-left {
    font-size: .825rem;
  }


/* About */
  .quarto-listing {
    padding-bottom: 0;
}


/* Blog */

.quarto-title-block .quarto-title-banner {
  background: black;
}

.quarto-title .quarto-categories .quarto-category {
  padding: .25em .75em;
  /* font-size: .65em; */
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
  opacity: .6;
  background: #06ff16;
  color: black;
}

#title-block-header .quarto-title-banner .quarto-title .title {
  margin-bottom: 0;
  color: white;
}

.quarto-title-banner {
  color: #fff;
}